{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet">
{% endblock %}
{% block title %}
  {{ parent()  }}
  Legendarium
{% endblock %}

{% block contenu %}

  <div class="container-fluid">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12"></br>
        <h1>
          <center>
            A propos
          </center>
        </h1>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row"></div>
  </br>
</br>
</div>
<div class="row">
<div class="col-md-2" id="colG">
  <div class="dropdown"></div>

</div>

<div class="col-md-8">

  <p>
    “ Librairie à Arras, Legendarium vous accueille rue Emile Legrelle pour vous proposer un vaste choix de livres spécialisés. Arrageoises, Arrageois, habitantes et habitants des environs d'Arras, venez vite assouvir votre soif de lecture et sollicitez
    votre libraire qui se fera un plaisir de vous conseiller en fonction de vos goûts et de ce que vous cherchez. Ce que vous ne devez plus chercher en revanche c'est votre libraire à Arras, poussez vite la porte de la librairie Légendarium et laissez la
    légende faire le reste…”
  </p>

  <p>
    “ Librairie à Arras, Legendarium vous accueille rue Emile Legrelle pour vous proposer un vaste choix de livres spécialisés. Arrageoises, Arrageois, habitantes et habitants des environs d'Arras, venez vite assouvir votre soif de lecture et sollicitez
    votre libraire qui se fera un plaisir de vous conseiller en fonction de vos goûts et de ce que vous cherchez. Ce que vous ne devez plus chercher en revanche c'est votre libraire à Arras, poussez vite la porte de la librairie Légendarium et laissez la
    légende faire le reste…”
  </p>

  <p>
    “ Librairie à Arras, Legendarium vous accueille rue Emile Legrelle pour vous proposer un vaste choix de livres spécialisés. Arrageoises, Arrageois, habitantes et habitants des environs d'Arras, venez vite assouvir votre soif de lecture et sollicitez
    votre libraire qui se fera un plaisir de vous conseiller en fonction de vos goûts et de ce que vous cherchez. Ce que vous ne devez plus chercher en revanche c'est votre libraire à Arras, poussez vite la porte de la librairie Légendarium et laissez la
    légende faire le reste…”
  </p>

  <p>
    “ Librairie à Arras, Legendarium vous accueille rue Emile Legrelle pour vous proposer un vaste choix de livres spécialisés. Arrageoises, Arrageois, habitantes et habitants des environs d'Arras, venez vite assouvir votre soif de lecture et sollicitez
    votre libraire qui se fera un plaisir de vous conseiller en fonction de vos goûts et de ce que vous cherchez. Ce que vous ne devez plus chercher en revanche c'est votre libraire à Arras, poussez vite la porte de la librairie Légendarium et laissez la
    légende faire le reste…”
  </p>

  <p>
    “ Librairie à Arras, Legendarium vous accueille rue Emile Legrelle pour vous proposer un vaste choix de livres spécialisés. Arrageoises, Arrageois, habitantes et habitants des environs d'Arras, venez vite assouvir votre soif de lecture et sollicitez
    votre libraire qui se fera un plaisir de vous conseiller en fonction de vos goûts et de ce que vous cherchez. Ce que vous ne devez plus chercher en revanche c'est votre libraire à Arras, poussez vite la porte de la librairie Légendarium et laissez la
    légende faire le reste…”
  </p>

</div>
<div class="col-md-2" id="colD"></div>
</div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>

{% endblock%}
