{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet">
{% endblock %}
{% block title %}
  {{ parent() }}
  Se connecter
{% endblock %}

{% block contenu %}

  {% if form.valide is defined %}
    {% if form.valide == true %}

    {% else %}
      <h1 class="form-signin">Erreur :
        {{form.message}}</h1>
      <form class="form-signin" action="index.php?page=connexion" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Connectez-vous sur Legendarium</h1>

        <p>
          <h5>
            Entrez votre email.
          </h5>
        </p>
        <label for="inputEmail" class="sr-only">Email:</label>
        <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email" required="required" autofocus="autofocus"/>

        <p>
          <h5>
            Entrez votre mot de passe.
          </h5>
        </p>
        <label for="inputPassword" class="sr-only">Mot de passe:</label>
        <input type="password" id="inputPassword" class="form-control" name="inputPassword" placeholder="Mot de passe" required="required"/>
      </br>
      <button class="btn btn-lg btn-default btn-block" type="submit" name="btConnecter">Se connecter</button>
    </br>
    <a href="index.php?page=index" class="btn btn-lg btn-default btn-block">Retourner à l'accueil</a>
  </form>

{% endif %}
{% else %}

<form class="form-signin" action="index.php?page=connexion" method="post">
  <h1 class="h3 mb-3 font-weight-normal">Connectez-vous sur Legendarium</h1>

  <p>
    <h5>
      Entrez votre email.
    </h5>
  </p>
  <label for="inputEmail" class="sr-only">Email:</label>
  <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email" required="required" autofocus="autofocus"/>

  <p>
    <h5>
      Entrez votre mot de passe.
    </h5>
  </p>
  <label for="inputPassword" class="sr-only">Mot de passe:</label>
  <input type="password" id="inputPassword" class="form-control" name="inputPassword" placeholder="Mot de passe" required="required"/>
</br>
<button class="btn btn-lg btn-default btn-block" type="submit" name="btConnecter">Se connecter</button>
</br>
<a href="index.php?page=index" class="btn btn-lg btn-default btn-block">Retourner à l'accueil</a>
</form>

{% endif %}
{% endblock %}
