{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Se connecter {% endblock %}

{% block contenu %}
  
 <form class="form-signin" action="index.php?page=gererp" method="post" enctype="application/x-www-form-urlencoded">
        <h1 class="h3 mb-3 font-weight-normal">Ajouter un produit</h1>
        <input type="text" id="designation" name="designation" class="form-control"placeholder="Saisir une designation" required autofocus>
        <textarea name="description" id="description" class="form-control" placeholder=" completer la description du produit " required autofocus rows="10" cols="50"></textarea>
        <input type="float" id="prix" name="prix" class="form-control"placeholder="Saisir un prix" required autofocus>
        <select name="idType" class="form-control">
             <option value="1">Nom</option> 
             <option value="4">Date de réalisation</option>
             <option value="5">Résumé</option>
             <option value="6">Page de couverture</option>
             <option value="7">Id collection</option> -->
             <option value="6">Id disponible</option>
             <option value="6">Id publication</option>
             <option value="6">Prix</option>
             <option value="6">Isbn</option>
        </select>
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="btGererp">Ajouter un produit</button>
        <a href="index.php?page=produit" class="btn btn-lg btn-primary btn-block">Liste produit</a>
 </form>

 
 {% endblock %}
