{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Se connecter {% endblock %}

{% block contenu %}
  
 <form class="form-signin" action="index.php?page=gerera" method="post" enctype="application/x-www-form-urlencoded">
        <h1 class="h3 mb-3 font-weight-normal">Ajouter une actualité</h1>
        <input type="text" id="titre" name="titre" class="form-control"placeholder="Saisir une actualite" required autofocus>
        <textarea name="titre" id="contenu" class="form-control" placeholder="Completer le contenu de l'actualité " required autofocus rows="10" cols="50"></textarea>
        <input type="float" id="date" name="date" class="form-control"placeholder="Saisir une date" required autofocus>
        </br>
        <button class="btn btn-lg btn-default btn-block" type="submit" name="btGerera">Ajouter une activité</button>
        <a href="index.php?page=actualite" class="btn btn-lg btn-default btn-block">Liste actualité</a>
 </form>

 
 {% endblock %}




