{% extends "base.html.twig" %}
{% block title %} {{ parent() }} {% endblock %}

{% block contenu %}


    <div class="container-fluid">


	<div class="container-fluid">

	<div class="row">
		<div class="col-md-2" id="colG">
			<div class="dropdown">
				 <h1 id="genre"><center>Actualité</center></h1>
				 </br>

				<p> Ouverture du Legendarium le 24 mai 2019 </p>


			</div>


		</div>


		<div class="col-md-8">


<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="images/devant.jpg" alt="Los Angeles">
    </div>

    <div class="item">
      <img src="images/int1.jpg" alt="Chicago">
    </div>

    <div class="item">
      <img src="images/int2.jpg" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>




		</div>
		<div class="col-md-2" id="colD">
			<h1>
				<center>CONTACT</center>
			</h1>

                    <h3> Horraires </h3>
                    </br>
                    <p> Lundi : Fermé</p>
                    </br>
                    <p> Mardi : 10h00-12h30 / 14:00-19h00 </p>
                    </br>
                    <p> Mercredi : 10h00-12h30 / 14:00-19h00 </p>
                    </br>
                    <p> Jeudi : 10h00-12h30 / 14:00-19h00 </p>
                    </br>
                    <p> Vendredi : 10h00-12h30 / 14:00-19h00 </p>
                    </br>
                    <p> Samedi : 10h00-12h30 / 14:00-19h00 </p>
                    </br>
                    <p> Dimanche : Fermé </p>


                    <p>
				</br></br>contact@legendarium.com</br></br></br>
03.21.51.66.98</br></br></br>
20 rue Emile Legrelle 62000 - ARRAS</br></br></br>
FACEBOOK : </br>
https://fr-fr.facebook.com/Legendariumlibrairie/ </br></br></br>
			</p>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2549.129613985812!2d2.778153177586274!3d50.28950835740199!2m3!1f0
                                !2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dd4876806fd45f%3A0x9e2e05bc2b75caae!2s20+Rue+Emile+Legrelle%2C+62000+Arras%2C+
                                France!5e0!3m2!1sen!2suk!4v1555177195155!5m2!1sen!2suk"
                                style="width:100%;height:300px" frameborder="20" allowfullscreen=""></iframe> <!-- GOOGLE MAP -->

                                  <a href="https://fr-fr.facebook.com/Legendariumlibrairie/" class="facebook"><i class="fa fa-facebook"></i></a>
		</div>
	</div>
</div>

{% endblock %}
