{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet">
{% endblock %}
{% block title %}
  {{ parent() }}
  Se connecter
{% endblock %}

{% block contenu %}
  {% if form.valide is defined %}
    {% if form.valide == true %}
      <h1 class="h3 mb-3 font-weight-normal">Inscription réussie</h1>
      <h1 class="h3 mb-3 font-weight-normal">Voici votre identifiant :
        {{form.email}}</h1>
      {% if form.role == 1 %}
        <h1 class="h3 mb-3 font-weight-normal">Vous êtes administrateur du site</h1>
      {% else %}
        <h1 class="h3 mb-3 font-weight-normal">Vous êtes un client du site
        </h1>
      {% endif %}
      <form class="form-signin">
        <a href="index.php?page=connexion" class="btn btn-lg btn-primary btn-block">Se connecter</a>
      </form>
    {% else %}
      <h1 class="h3 mb-3 font-weight-normal">Echec de l'inscription</h1>
      <h1 class="h3 mb-3 font-weight-normal">Erreur :
        {{form.message}}</h1>
      <h1 class="h3 mb-3 font-weight-normal">
        <a href="index.php?page=inscrire">Retourner sur la page d'inscription</a>
      </h1>
    {% endif %}
  {% else %}

    <form class="form-signin" action="index.php?page=inscrire" method="post" enctype="application/x-www-form-urlencoded">
      <h1 class="h3 mb-3 font-weight-normal">Inscrivez-vous sur Legendarium</h1>

      <input type="hidden" id="id" name="id"/>

      <p>
        <h5>
          Entrez votre email.
        </h5>
      </p>
      <label for="inputEmail" class="sr-only">Email:</label>
      <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email" required="required" autofocus="autofocus">

      <p>
        <h5>
          Entrez votre mot de passe.
        </h5>
      </p>
      <label for="inputPassword" class="sr-only">Mot de passe:</label>
      <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Mot de passe" required="required">

      <p>
        <h5>
          Entrez à nouveau votre mot de passe.
        </h5>
      </p>
      <input type="password" id="inputPassword2" name="inputPassword2" class="form-control" placeholder="Mot de passe" required="required">

      <p>
        <h5>
          Entrez votre nom.
        </h5>
      </p>
      <label for="inputNom" class="sr-only">Nom:</label>
      <input type="Nom" id="nom" name="nom" class="form-control" placeholder="Nom" required="required" autofocus="autofocus">

      <p>
        <h5>
          Entrez votre prénom.
        </h5>
      </p>
      <label for="inputNom" class="sr-only">Prenom:</label>
      <input type="Nom" id="prenom" name="prenom" class="form-control" placeholder="Prenom" required="required" autofocus="autofocus">

      <p>
        <h5>
          Entrez votre age.
        </h5>
      </p>
      <label for="inputdatenaiss" class="sr-only">Date de naissance:</label>
      <input type="date" id="datenaiss" name="datenaiss" class="form-control" placeholder="Date de naissance" required="required">

      <p>
        <h5>
          Entrez votre role au sein du site.
        </h5>
      </p>
      <select class="form-control" name="role">
        <option value="1">Administrateur</option>
        <option value="2">Client</option>

      </select>
    </br>
    <button class="btn btn-lg btn-default btn-block" type="submit" name="btInscrire">S'inscrire</button>
  </br>
  <a href="index.php?page=connexion" class="btn btn-lg btn-default btn-block">Retourner à la connexion</a>
</br>
<a href="index.php?page=index" class="btn btn-lg btn-default btn-block">Retourner à l'accueil</a>
</form>

{% endif %}
{% endblock %}
