{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Se connecter {% endblock %}

{% block contenu %}
  
 {% if form.utilisateur is defined %}
 {% if form.utilisateur != null %}

    
 <form class="form-signin" action="index.php?page=modifu" method="post" enctype="application/x-www-form-urlencoded">
        <h1 class="h3 mb-3 font-weight-normal">Modifier un utilisateur sur Guy Mollet Shop</h1>
        <input type="password" id="password" name="password" class="form-control"placeholder="Saisir le nouveau mot de passe" >
        <input type="password" id="password2" name="password2" class="form-control"placeholder="Confirmer le nouveau mot de passe">
        <input type="text" id="nom" name="nom" class="form-control"placeholder="Modifier le nom" value="{{form.utilisateur.nom}}" autofocus>
        <input type="text" id="prenom" name="prenom" class="form-control"placeholder="Modifier le prénom" value="{{form.utilisateur.prenom}}" >
        <select name="role" class="form-control">
            {% for r in form.role %}
            {% if r.id==form.utilisateur.idRole %}
            <option value="{{ r.id }}" selected>{{ r.libelle }}</option>
            {% else %}
            <option value="{{ r.id }}">{{ r.libelle }}</option>
            {% endif %} 
            {% endfor %} 
        </select>
        <input type="hidden" name="email" value="{{ form.utilisateur.email }}"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="btModifu">Modifier l'utilisateur</button>
        <a href="index.php?page=Modifu" class="btn btn-lg btn-primary btn-block">Liste utilisateurs</a>
 </form>

  {% else %}
 <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
 <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=utilisateur">Retourner sur la liste des utilisateurs1</a></h1>
 {% endif %}

{% else %}
{% if form.valide == true %}
 <h1 class="h3 mb-3 font-weight-normal">{{ form.message }} </h1>
 <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=utilisateur">Retourner sur la liste des utilisateurs</a></h1>
 {% else %}
 <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
 <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=utilisateur">Retourner sur la liste des utilisateurs</a></h1>
 {% endif %} 
 {% endif %}
 {% endblock %}
