{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Se connecter {% endblock %}

{% block contenu %}
  
 {% if form.actualite is defined %}
 {% if form.actualite != null %}

    
 <form class="form-signin" action="index.php?page=modifa" method="post" enctype="application/x-www-form-urlencoded">
        <h1 class="h3 mb-3 font-weight-normal">Modifier une actualite</h1>
        <input type="password" id="password" name="password" class="form-control"placeholder="Saisir le nouveau mot de passe" >
        <input type="password" id="password2" name="password2" class="form-control"placeholder="Confirmer le nouveau mot de passe">
        <input type="text" id="titre" name="titre" class="form-control"placeholder="Modifier le titre" value="{{form.actualite.titre}}" autofocus>
        <input type="text" id="contenu" name="contenu" class="form-control"placeholder="Modifier le contenu" value="{{form.actualite.contenu}}" >
        <input type="date" id="date" name="date" class="form-control"placeholder="Modifier la date" value="{{form.actualite.date}}" >
      
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="btModifa">Modifier l'actualite</button>
        <a href="index.php?page=modifa" class="btn btn-lg btn-primary btn-block">Liste des actualites</a>
 </form>

  {% else %}
 <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
 <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=actualite">Retourner sur la liste des actualites</a></h1>
 {% endif %}

{% else %}
{% if form.valide == true %}
 <h1 class="h3 mb-3 font-weight-normal">{{ form.message }} </h1>
 <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=actualite">Retourner sur la liste des actualites</a></h1>
 {% else %}
 <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
 <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=actualite">Retourner sur la liste des actualites</a></h1>
 {% endif %} 
 {% endif %}
 {% endblock %}
