{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Se connecter {% endblock %}

{% block contenu %}
  
 {% if form.produit is defined %}
 {% if form.produit != null %}

    
 <form class="form-signin" action="index.php?page=modifp" method="post" enctype="application/x-www-form-urlencoded">
        <h1 class="h3 mb-3 font-weight-normal">Modifier un livre</h1>
        <input type="text" id="designation" name="designation" class="form-control"placeholder="Modifier la designation" value="{{form.produit.designation}}" autofocus>
        <textarea name="description" id="description" class="form-control" placeholder="Modifier la description" rows="10" cols="50">{{form.produit.description}}</textarea>
        <input type="float" id="prix" name="prix" class="form-control"placeholder="Modifier le prix" value="{{form.produit.prix}}" >
        <select name="type" class="form-control">
             <option value="3">Roman</option>
             <option value="4">Bande déssinée</option>
             <option value="5">Manga</option>
             <option value="6">Documentaire</option>
             <option value="7">???</option>
        </select>
          <input type="hidden" name="id" value="{{ form.produit.id }}"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="btModifp">Modifier le livre</button>
        <a href="index.php?page=modifp" class="btn btn-lg btn-primary btn-block">Liste livre</a>
 </form>

  {% else %}
 <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
 <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=produit">Retourner sur la liste des livres</a></h1>
 {% endif %}

{% else %}
{% if form.valide == true %}
 <h1 class="h3 mb-3 font-weight-normal">{{ form.message }}</h1>
 <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=produit">Retourner sur la liste des livres</a></h1>
 {% else %}
 <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
 <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=produit">Retourner sur la liste des livres</a></h1>
 {% endif %} 
 {% endif %}
 {% endblock %}
