{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} - Liste des produits {% endblock %}

{% block contenu %}
{% if form.valide is defined %}
 {% if form.valide == true %}
 <h1 class="h3 mb-3 font-weight-normal">{{ form.message }}</h1>
 {% else %}
 <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
 {% endif %}
{% endif %}

<h1> Liste des livres</h1>
<div class="panel panel-default">
<form class="form-signin" action="index.php?page=produit" method="post"
enctype="application/x-www-form-urlencoded">
 <!-- Table -->
 <div class="table-responsive">
 <table class="table table-hover table-striped">
 <tr><th>Désignation</th><th></th><th></th><th></th></tr>
 {% for p in liste %}
 <tr><td>{{p.designation}}</td><td> <div class="btn-group btn-group-lg"><a
href="index.php?page=modifproduit&id={{p.id}}"><span class="glyphicon glyphicon-pencil"
aria-hidden="true"></span></a></div></td><td><div class="btn-group btn-group-lg"><a
href="index.php?page=produit&id={{p.id}}"><span class="glyphicon glyphicon-trash" ariahidden="true"></span></a></div></td><td><input type="checkbox" name="cocher[]"
id="cocher[]" value="{{p.id}}"/></td></tr>
 {% endfor %}
 </table>
 </div>
 <button class="btn btn-lg btn-primary btn-block" type="submit"
name="btSupprimer">Supprimer</button>
</form> 
 </div>
{% endblock %} 
