{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Se connecter {% endblock %}


    
{% block contenu %}
{% if form.valide is defined %}
{% if form.valide == true %}
 <h1 class="h3 mb-3 font-weight-normal">Inscription réussie</h1>
 <h1 class="h3 mb-3 font-weight-normal">Vous êtes inscrit.</h1>


 {% endif %}


 {% endif %} 
    
    
 <form class="form-signin" action="index.php?page=inscrire" method="post" enctype="application/x-www-form-urlencoded">
 <h1 class="h3 mb-3 font-weight-normal">Inscrivez-vous au jeu sur Legendarium</h1>
 
  <p><h5> Entrez votre nom. </h5></p>
  <label for="inputNom" class="sr-only">Nom:</label>
 <input type="Nom" id="nom" name="nom" class="form-control" placeholder="Nom" required autofocus>
 
   <p><h5> Entrez votre prénom. </h5></p>
 <label for="inputPrenom" class="sr-only">Prenom:</label>
 <input type="Prenom" id="prenom" name="prenom" class="form-control" placeholder="Prenom" required autofocus>
 
   <p><h5> Entrez votre email. </h5></p>
 <label for="inputEmail" class="sr-only">Email:</label>
 <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email" required autofocus>
 
   <p><h5> Entrez votre téléphone. </h5></p>
 <label for="inputTelephone" class="sr-only">Téléphone:</label>
 <input type="Telephone" id="inputTelephone" name="inputTelephone" class="form-control" placeholder="Telephone" required autofocus>
 
 <p><h5> Quel jeu de role souhaitez vous masteuriser ? </h5></p>
 <label for="inputJeuMasteuriser" class="sr-only">Quel jeu de role souhaitez vous masteuriser ?:</label>
 <input type="JeuMasteuriser" id="inputMasteuriser" name="inputJeuMasteuriser" class="form-control" placeholder="Jeu" required>

   <p><h5> Entrez votre age ( il vous faut au minimum 16 ans pour pouvoir jouer. Un justificatif vous sera demandé avant le début de chaque jeu ). </h5></p>
 <label for="inputAge" class="sr-only">Age </label>
 <input type="age" id="inputDate" name="age" class="form-control" placeholder="Age" required autofocus>
 
   <p><h5> Pouvez-vous fournir un synopsis de votre scénario à transmettre aux potentiels joueurs ? </h5></p>
<label for="inputSynopsis" class="sr-only">Pouvez-vous fournir un synopsis de votre scénario à transmettre aux potentiels joueurs ?</label>
 <input type="Synopsis" id="inputEmail" name="Synopsis" class="form-control" placeholder="Réponse" required autofocus>

    <p><h5> Quelles sont vos dates de disponibilité ? </h5></p>
 <label for="inputDate" class="sr-only">Date</label>
 <input type="Date" id="inputTelephone" name="inputDate" class="form-control" placeholder="Date" required autofocus>

 </select>
 </br>
 <button class="btn btn-lg btn-default btn-block" type="submit" name="btInscrire">S'inscrire</button>
 </br>
  <a href="index.php?page=index" class="btn btn-lg btn-default btn-block">Retourner à l'accueil</a>
 </form>


 {% endblock %} 
