{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Se connecter {% endblock %}

{% block contenu %}
  

<div class="panel panel-default">
 <!-- Default panel contents -->
 <div class="panel-heading">Liste des utilisateurs</div>

 <!-- Table -->
 <div class="table-responsive">
 <table class="table table-hover table-striped">
 <tr><th>Email</th><th>Nom</th><th>Prénom</th><th>Rôle</th><th></th><th></th></tr>


 </table>
 </div>
</div>
 
 {% endblock %}
